


<div class="flex flex-col">
    <h1 class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white mt-2 ml-2">All products</h1>
    <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
      <div class="flex items-center mb-4 sm:mb-0">

        <div class="flex items-center w-full sm:justify-end">

        </div>
      </div>

      <%= link_to  new_product_path do %>
        <button id="createProductButton" class="text-white bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary-600 dark:hover:bg-primary-700 focus:outline-none dark:focus:ring-primary-800" type="button" data-drawer-target="drawer-create-product-default" data-drawer-show="drawer-create-product-default" aria-controls="drawer-create-product-default" data-drawer-placement="right">
          Add new product
        </button>
        <%  end%>
    </div>
    <div class="overflow-x-auto">
    <div class="inline-block min-w-full align-middle">
      <div class="overflow-hidden shadow">
        <table id="product-table" class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
          <thead class="bg-gray-100 dark:bg-gray-700">
          <tr>
            <th scope="col" class="p-4">
              <div class="flex items-center">

              </div>
            </th>
            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                    product name
            </th>

            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                    description
            </th>

            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
             price
            </th>

            <th scope="col" class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
              category
            </th>
              </tr>

          </thead>
          <tbody class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">

                               <% @products.each do |product| %>
          <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">


            <td class="w-4 p-4">
              <div class="flex items-center">

              </div>
            </td>
            <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
              <div class="text-base font-semibold text-gray-900 dark:text-white"> <%= product.name %>  </div>
              <div class="text-sm font-normal text-gray-500 dark:text-gray-400"> <%= product.name%> </div>
            </td>

            <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400"> <%= product.description %></td>
            <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"> <%= product.price %></td>
             <td class="p-4 text-base font-medium text-gray-900 whitespace-nowrap dark:text-white"> <%= product.category %></td>


            <td class="p-4 space-x-2 whitespace-nowrap">

              <a href="<%= edit_product_path(product) %>">
                <div id="updateProductButton" data-drawer-target="drawer-update-product-default"
                     data-drawer-show="drawer-update-product-default" aria-controls="drawer-update-product-default"
                     data-drawer-placement="right"
                     class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-blue-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                  Update
                </div>
              </a>


              <div id="deleteProductButton"
                   class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-red-700 rounded-lg hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:focus:ring-red-900">

                <%= button_to "Delete", product, method: :delete %>
              </div>

            </td>

          </tr>
                  <% end%>




          </tbody>
        </table>
      </div>
    </div>
    </div>

</div>