<!DOCTYPE html>
<html>
<head>
  <title>Projectone</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta charset="utf-8">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>


</head>

<body>

<%= render partial: 'admin/dashboard/navbar' %>

<div class="flex pt-16 overflow-hidden justify-center items-center">

  <%= render partial: 'admin/dashboard/sidebar' %>

  <div id="main-content" class="relative w-full h-full overflow-y-auto lg:ml-64 dark:bg-gray-900">
    <main>
      <%= yield %>
    </main>
  </div>

</div>

</body>
</html>
